* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#layers-panel {
  width: 12.5rem;
  background: #1e1e1e;
  color: white;
  padding: 0.8rem;
  font-family: sans-serif;
}

.layer-item {
  padding: 0.4rem;
  margin: 0.3rem 0;
  background: #333;
  cursor: pointer;
  border-radius: 0.3rem;
}

.layer-item:hover {
  background: #444;
}

.layer-item.active {
  background: #00aaff;
  color: black;
}

#canvas {
  width: 50rem;
  height: 31.25rem;
  background-color: #ececec;
  border: 2px solid #444;
  position: relative;
}

.selected {
  outline: 2px solid rgb(73, 73, 241);
}

.resize-handle {
  width: 5px;
  height: 5px;
  background: rgb(196, 196, 255);
  position: absolute;
}

.br {
  bottom: -2.5px;
  right: -3px;
  cursor: nwse-resize;
}

.bl {
  bottom: -2.5px;
  left: -2.5px;
  cursor: nesw-resize;
}

.tl {
  top: -3px;
  left: -2.5px;
  cursor: nwse-resize;
}

.tr {
  top: -3px;
  right: -3px;
  cursor: nesw-resize;
}

#add-rectangle {
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  color: #fff;
  background-color: rgb(63, 63, 63);
  cursor: pointer;
}

#properties-panel {
  width: 200px;
  background: #1e1e1e;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.prop-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.prop-row label {
  font-size: 12px;
}

.prop-row input {
  width: 80px;
  padding: 4px;
  background: #333;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-error {
  border: 2px solid rgb(194, 0, 0) !important;
}