* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 50rem;
  height: 31.25rem;
  background-color: #ececec;
  border: 2px solid #444;
  position: relative;
}

.selected {
  outline: 2px solid rgb(73, 73, 241);
}

/* .rectangle:hover {
  outline: 2px dotted rgb(100, 100, 238);
} */